@media (max-width: 1024px) {
    .qb_listing_detailds_page .qb_hd_four {
        font-size: 20px;
        line-height: 28px;
    }
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("background.gif");  /* Đặt ảnh nền */
    background-size: cover;                   /* Phủ toàn màn hình */
    background-repeat: no-repeat;             /* Không lặp lại */
    background-position: center;              /* Căn giữa */
    height: 100vh;
    color: white;                             /* Chữ trắng cho dễ đọc */
    text-align: center;
    font-family: sans-serif;
}

.navbar{
    /* background: linear-gradient(to right,rgba(0, 0, 0, 0.6), rgba(255, 182, 193, 0.8)); */
    top: 0px;
    position: fixed;
    width: 100%;
    z-index: 1;
    background:  rgba(0, 0, 0, 0.8);
    padding-bottom: 1%;
}
/* Mặc định: Trong suốt */
/* Khi cuộn: có nền */
.navbar.scrolled {
    background: linear-gradient(to right,rgba(0, 0, 0, 1), rgba(255, 182, 193, 1));
}

.log-in{
    width: 420px;                 
    background: rgba(0, 0, 0, 0.6);  
    padding: 40px 30px;           
    border-radius: 15px;          
    box-shadow: 0 0 20px rgba(0,0,0,0.7); 
    color: white;
    box-sizing: border-box;
    text-align: center;
}

button{
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 15px;
    cursor: pointer;
}

button:hover{
    color: white;
    background-color: black;
}


input{
    width: 90%;        
    padding: 10px;      
    font-size: 1rem;    
    border-radius: 15px; 
}


.Payment{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}