body{
    margin: 0;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/10/Hanoi_Skyline_-_NKS.jpg/500px-Hanoi_Skyline_-_NKS.jpg") ;
}


label{
    position: absolute;
    left: 13px;
    top: 13px;
    padding: 0px 5px;
    font-size: 12px;
    background: #fff;
    transition:
        transform 0.3s ease, color 0.3s ease;
}

input:focus+label{
    transform: translateY(-20px);
    color: #0051ff;
}

input:focus{
    border-color: #0051ff;
}