body{
    margin: 0;
    background-image: url("https://ik.imagekit.io/tvlk/image/imageResource/2025/01/05/1736039153373-64c979a852c7ec9063c6f2104bcf58dd.png?tr=q-75") ;
}

.list{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid white;
    padding: 4px;


}

.infor{
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6); /* Giúp chữ rõ hơn */
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    outline: none;
    border: 1px solid transparent;
    padding: 10px;

    
}

    
.header{
    padding-left: 60px;
    color: white;
}


.infor:hover{
    background-color: rgb(153, 204, 255);
    border: 1px solid white;
    border-radius: 50px;
    
}

/* .navbar{
    background-color: rgba(255, 255, 255, 0.5);

} */