#background-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("background.gif");  /* Đặt ảnh nền */
    background-size: cover;                   /* Phủ toàn màn hình */
    background-repeat: no-repeat;             /* Không lặp lại */
    background-position: center;              /* Căn giữa */
    height: 100vh;
    color: white;                             /* Chữ trắng cho dễ đọc */
    text-align: center;
    font-family: sans-serif;
}

.dia-diem1{
    display: flex;
    justify-content: space-around;



}



.list{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid white;
    padding: 4px;


}

.infor{
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6); /* Giúp chữ rõ hơn */
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    outline: none;
    border: 1px solid transparent;
    padding: 10px;

    
}

    
.header{
    padding-left: 60px;
    color: white;
}


.infor:hover{
    background-color: rgb(153, 204, 255);
    border: 1px solid white;
    border-radius: 50px;
    
}

.head{
    text-align: center;
    color:white;
}

img{
    border-radius: 20px;
}

.dd{
    color: white;
    text-align: center;
    border: 2px solid white;
    padding: 15px;
    width: 29%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.noi-dung{
    text-align: justify;
}


.tim-hieu-them{
    text-decoration: none;
    color: white;
    border: 1px solid transparent;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

.tim-hieu-them:hover{
    background-color: rgb(153, 204, 255);
    border: 1px solid white;
    border-radius: 50px;
    color: black;
    

    
    
}